<div class="widget">
    <div class="widget--body">
        <div class="contact_card">
            <img class="contact_card--img" src="{{ site.baseurl }}assets/img/avatar.jpeg">
            <h3 class="contact_card--name">{{ site.author.name }}</h3>
            <p class="contact_card--bio">{{ site.author.description }}</p>
            <ul class="contact_card--social-links">
                <li><a href="https://twitter.com/{{ site.social_media.twitter }}">@{{ site.social_media.twitter }}</a></li>
                <li><a href="https://github.com/{{ site.social_media.github }}">{{ site.social_media.github }}</a></li>
            </ul>
        </div>
    </div>
</div> <!-- end widget -->

<!-- <div class="widget">
    <h2 class="widget--title">Tags</h2>
    <div class="widget--body">
        <ul class="tag_list">
            {% for tag in site.tags %}
            <li class="tag_list--item">{{ tag[0] }} ({{ tag[1] | size }})</li>
            {% endfor %}
        </ul>
    </div>
</div> end widget -->