@import '_normalize';
@import '_tomorrow';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Segoe UI VSS (Regular)', 'Segoe UI',
    '-apple-system', BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica,
    Ubuntu, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  min-height: 100vh;
  position: relative;
  line-height: 1.5;
}

a {
  color: #77ffff;
}

h2 {
  font-weight: 600;
  font-size: 2.938rem;
  line-height: 4.625rem;
}

h3 {
  font-size: 2.313rem;
  line-height: 3.688rem;
}

h4 {
  font-size: 1.813rem;
  line-height: 3rem;
}

hr {
  margin: 4rem auto 5.5rem auto;
  padding: 0 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  padding: 0.625rem;
}

th {
  border-bottom: 3px solid #f8f8f8;
  padding: 0.625rem;
}

td {
  border-bottom: 1px solid #f8f8f8;
  padding: 0.625rem;
}

blockquote {
  background: #ffc107;
  margin: 0;
  padding: 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

header {
  background: #240046;
  padding: 10px 40px;
  overflow: hidden;
}

header::after {
  content: '';
  clear: both;
}

header h1 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
  float: left;
}

header h1 a {
  color: #ffffff;
  text-decoration: none;
}

header h1 a:hover {
  color: #ff30cc;
}

header nav {
  float: right;
  margin-top: 5px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #ffffff;
  // color: #487ddb;
  text-decoration: none;
}

header nav ul li a:hover {
  // border-bottom: 2px solid #ffffff;
  border-bottom: 2px solid #ff30cc;
}

.page-title {
  color: #2458b5;
  font-size: 3.75rem;
  line-height: 5.813rem;
  margin-top: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main_content {
  width: 100%;
}

.introduction {
  background: #240046;
  font-size: 1.438rem;
  color: #FFFFFF;
  padding: 4rem 0;
  margin-bottom: 4.55rem;
}

.introduction__title {
  margin-top: 0;
  margin-bottom: 1.1rem;
}

.introduction__content {
  margin: 0 auto;
}

.tag_list {
  list-style: none;
  padding: 0;
}

.article {
  // margin-bottom: 1.25rem;
  margin-bottom: 4.55rem;
  padding-bottom: 1.438rem;
  border-bottom: 1px solid #737373;
  font-size: 1.438rem;
  color: #172847;
}

.article img {
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.article a,
.archive-list a {
  color: #2658b5;
}

.article a:hover,
.archive-list a:hover {
  color: #183b7a;
}

.article:last-child {
  border-bottom: none;
}

.article--heading {
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-size: 3rem;
  line-height: 4.813rem;
  // color: #487ddb;
  color: #2458b5;
  font-family: 'Montserrat';
}

.article--heading a {
  // color: #000000;
  // color: #487ddb;
  color: #2458b5;
  text-decoration: none;
}

.article--heading a:hover {
  text-decoration: underline;
}

.article--datetime {
  font-size: 1rem;
  margin-top: 0;
  font-style: italic;
}

.article--body {
  line-height: 39px;
}

.article--tag_list {
  list-style: none;
  margin: 0.625rem;
  padding: 0;
}

.article--tag_list li {
  display: inline-block;
  background: #f4f4f4;
  color: #262626;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.archive-list {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.438rem;
}

.highlight pre {
  overflow-x: scroll;
  padding: 1.25rem;
  font-size: 16px;
  line-height: 1.3;
  border: 1px solid #000000;
}

code.highlighter-rouge {
  background: #e9e9e9;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
}

footer {
  clear: both;
  background: #262626;
  color: #ffffff;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 1080px) {
  body {
    padding-bottom: 5rem;
  }

  .container,
  .introduction__content {
    width: 1080px;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 0;
    margin-right: 0;
  }

  // .main_content {
  //   width: 51.25rem;
  //   padding-right: 1.875rem;
  //   float: left;
  // }

  .article--tag_list {
    margin: 0;
  }
}
