<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
        {% else %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% endif %}
    </title>

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}assets/favicon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/styles.css">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>

        {% include navbar.html %}
    </header>

    <div class="container">

        <section class="main_content">

            {{ content }}

        </section>

        <section class="sidebar">

            {% include sidebar.html %}

        </section>
    </div>

    <footer>
        <p>Copyright &copy; {{ "today" | date: "%Y" }} - dotsh.no</p>
    </footer>
</body>
</html>
